---
title: SMB Volume Service for PCF (Beta)
owner: Partners
---

<p class="note warning"><strong>WARNING:</strong> The SMB Volume Service for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.</p>

## <a id='overview'></a>Overview

Shared Volumes are distributed file systems that allow instances of an application to share the same mounted volume and access it concurrently.

The Shared Volume Service for SMB enables SMB driver support, so Azure file service and SMB shared folders can be used by the Shared Volume Service.

The SMB Volume Service Broker for PCF exposes the SMB service in the Marketplace. 
It installs SMB driver in every Diego cell, provides credentials, and the SMB share URL for Cloud Controller to mount 
SMB shares in a Diego cell. An application can bind to the service to use persistent SMB storage, such as Azure files.

## <a id='features'></a>Key Features

SMB Volume Service for PCF supports following systems as persistent storage. These allow application instances to use as shared file system:

* Microsoft Azure File Service  
* SMB Shares

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about SMB Volume Service for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.9.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 17, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.9.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>Microsoft Azure</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

SMB Volume Service for PCF has the following requirements:

* A Microsoft SQL, or MySQL database for storing the broker's status.
* Existing SMB shares if you only need to utilize SMB share, or Microsoft Azure Service Principal for provision of Azure File to be served as SMB shares.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to
[Microsoft Azure Cloud Foundry Engineering](mailto:azcfengg@microsoft.com).

## <a id='license'></a>License

Apache License Version 2.0
