---
title: SMB Volume Service for PCF
owner: Partners
---

## <a id='overview'></a>Overview

The SMB Volume Service for PCF registers a service brokre with PCF and installs SMB driver in every Diego cells
in PCF. The broker exposes SMB service in the Marketplace, manages the provisioning and deprovisioning of
SMB service instances, and provides credentials, and SMB share URLs for cloud controller to mount SMB shares in
Diego cells for an application to use the persistent SMB storage.

## <a id='features'></a>Key Features

SMB Volume Service for PCF includes the following key features:

* Support using Microsoft Azure File service as the persistent storage.
* Support using preexisting SMB shares as the persistent storage.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about SMB Volume Service for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.9.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 9, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.9.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>Untested for AWS, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

SMB Volume Service for PCF has the following requirements:

+ A MsSQL, or MySQL database for storing broker's status.

+ Preexisting SMB shares, or Microsoft Azure Service Principal

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to
[Microsoft Azure Cloud Foundry Engineering](mailto:azcfengg@microsoft.com).

## <a id='license'></a>License

Apache License Version 2.0