---
title: Release Notes for SMB Volume Service for PCF
owner: Partners
---

These are release notes for SMB Volume Service for PCF.

##<a id="ver"></a> v0.9.0

**Release Date:** April 9, 2018

Features included in this release:

* Support Microsoft Azure File service as the persistent storage for applications.
* Support preexisting SMB shares as the persistent storage for applications.