---
title: Release Notes for SMB Volume Service for PCF
owner: Partners
---

These are release notes for SMB Volume Service for PCF.

##<a id="ver"></a> v1.0.0

**Release Date:** December 24, 2018

Features included in this release:

* Ability to create a database service instance for `azurefilebroker`
* Support for database services from Open Service Broker Azure and MySQL for PCF v2
* BOSH release version smb-volume/0.2.3 for compilation errors on Xenial stemcells for AWS and vSphere
* Changes to the smb-volume-release itself are on GitHub at [cloudfoundry/smb-volume-release](https://github.com/cloudfoundry/smb-volume-release/releases)

Known Issues:

* Because `Open Service Broker Azure` currently does not support parameter `Connection Policy` for SQL database while TLS is forced,
  you cannot use SQL database provided by OSBA until this issue is fixed.
  Details and tracks can be found on GitHub at
  [/Azure/open-service-broker-azure/issues/646](https://github.com/Azure/open-service-broker-azure/issues/646).
* Pivotal Application Service v2.4 is not compatible with this tile because of its `smbdriver`.

##<a id="ver"></a> v0.9.0

**Release Date:** April 17, 2018

Features included in this release:

* Support for Microsoft Azure File service as the persistent storage for applications.
* Support for preexisting SMB shares as the persistent storage for applications.
