---
title: Using SMB Volume Service for PCF
owner: Partners
---

This topic describes how to use SMB Volume Service for PCF.

##<a id='using'></a> Using SMB Volume Service for PCF

After installation, the SMB Volume Service is available in your PCF. You can:

1. Provisioning a SMB volume service with below three options:

  1. [Create an SMB volume service with an existing storage account on Azure](https://github.com/cloudfoundry/smb-volume-release#create-an-smb-volume-service-with-an-existing-storage-account-on-azure)

  1. [Create an SMB volume service with a new storage account on Azure](https://github.com/cloudfoundry/smb-volume-release#create-an-smb-volume-service-with-a-new-storage-account-on-azure)

  1. [Create an SMB volume service with a preexisting share](https://github.com/cloudfoundry/smb-volume-release#create-an-smb-volume-service-with-a-preexisting-share)

1. [Binding the SMB volume service to your application](https://github.com/cloudfoundry/smb-volume-release#deploy-the-pora-test-app-first-by-pushing-the-source-code-to-cloudfoundry)